body {
    width: 90%;
    margin: auto;
    font-size: 16pt;
    color:rgb(86, 86, 87);
    background-color: rgb(236, 236, 236);
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    border-bottom: coral solid 3px;
    margin-top: 3rem;
}
h3 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    /* color: coral; */
}

/* Styling the first page */
#story-list button {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color: cyan;
    border: none;
    font-size: 15px;
    font-weight: 600;
    
}
button:hover {
    background-color: rgb(3, 218, 218);
    color:rgb(255, 255, 255)
}

/* styling the second page */
#story-form form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1.5rem;
    padding: 0.7rem;
    border-radius: 1rem;
    border: none;
    font-size: 10pt;

}

/* styling the third page */
.story-result {
    margin:auto;
    width: 70%;
    background-color: white;
    border-radius: 1rem;
    padding: 00.7rem;
}

.result {
    width: 100%;
    margin-top: 1rem;
}
